---
Checks: '
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -readability-use-anyofallof,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-pass-by-value,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-pro-type-member-init
'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.ConstantIgnoredRegexp
    value: '.*'

  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k

  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.CamelCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|u|v'
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: 'i|j|k|x|y|z|u|v'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'k|x|y|z|u|v'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '2'

  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: '1'
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: '1'
  - key: modernize-use-auto.MinTypeNameLength
    value: '20'
  - key: readability-function-size.LineThreshold
    value: '80'